{% extends "admin_panel.html" %}

{% block panel_title %}Welcome {{ current_user.realname }}{% endblock %}

{% block header %}


{% endblock %}

{% block panel_buttons %}

{% endblock %}

{% block homeButton %}active{% endblock %}

{% block content %}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">Graphs Data</h4>
  <p>Summary COVID-19 Data was last updated at <b>{{ summary }}</b>.</p>
  <hr>
  <p class="mb-0">Summary data should update in 50 minute intervals.</p>
</div>

<hr/>
<h2>Recent Updates</h2>
<table id="container" class="table table-normal">
  <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Time</th>
      <th scope="col">Type</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody id="container">

    {% for activity in activities %}
    <tr>
      <td>
        {% if activity.draft %}
        <a href="{{ url_for('Drafts_view_draft', draftID=activity.draft, site=site) }}">{{ activity.user.realname }}: {{ activity.text }}</a>
        {% else %}
        {{ activity.user.realname }}: {{ activity.text }}
        {% endif %}
      </td>
      <td>{{ activity.created }}</td>
      <td>
        <a href="{{ activity.url }}">{{ activity.object_type }}</a>
      </td>
      <td>{{ activity.object_id }}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
{% endblock %}

{% block footer %}

{% endblock %}
