{% extends "admin_panel.html" %}

{% block head %}

{% endblock %}

{% block panel_title %}Add URL{% endblock %}

{% block panel_buttons %}
{% endblock %}

{% block postsButton %}active{% endblock %}

{% block content %}
<div class="card" style="width: 30rem; margin-left: auto; margin-right: auto;">
	<div class="card-body">
		<form method="post">
			<div class="form-group">
				<label>URL Title (Description of URL Contents)</label>
				<input name="title" type="text" placeholder="Title" class="form-control" value="{{ content.text }}" required />
			</div>

			<div class="form-group">
				<label>URL</label>
				<input name="url" type="text" placeholder="URL" class="form-control" value="{{ content.url }}" required/>
			</div>

			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Save URL</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
