<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>COVID-19 Disaster Consult Admin</title>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script src="https://cdn.ckeditor.com/ckeditor5/18.0.0/decoupled-document/ckeditor.js"></script>

  <link href="{{ url_for('static', filename = 'admin/admin_panel.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename = 'admin/bootstrap-markdown-editor/bootstrap-markdown.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename = 'admin/bootstrap-markdown-editor/bootstrap-markdown.js') }}"></script>

  {% block head %}{% endblock %}
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Disaster Consult Admin</a>
    <div style="width: 100%;"></div>
    <ul class="navbar-nav px-3">

      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{{ url_for('select_screen') }}">Website Page</a>
      </li>
    </ul>

    <ul class="navbar-nav px-3">

      <li class="nav-item text-nowrap">
        <a class="nav-link" href="{{ url_for('logout') }}">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <main role="main"  style="margin-top: 2em; margin-left: auto; margin-right: auto; max-width: 40em; width: 100%;">
      <h2>Select Disaster Type</h2>
      <p>To enter the admin panel for a disaster type select one below.</p>
      <hr>
      {% for site in sites %}
      <a href="{{ url_for('admin', site=site.slug) }}">
        <div class="alert alert-primary" role="alert">
          <h4 class="alert-heading">{{ site.title }}</h4>
          <p>{{ site.description }}</b>.</p>

          <p class="mb-0">Click to select Disaster Type</p>
        </div>
      </a>
      {% endfor %}
    </main>

  </div>
</div>
</body>

</html>
