/venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Personal Helper Files
COMMON COMMANDS.txt
# Caches
*.pyc
/__pycache__
baja.sublime-workspace
*.sublime-workspace
/secrets
/source/secrets
#adams files
/venv2
req2.txt
requiremnts1.txt
