{% extends "base-pages/base-libraries.html" %}

{% block head %}
{% block head_content %}{% endblock %}
{% endblock %}


{% block body %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand " href="{{ url_for('select_screen', site=site) }}" id="navtitle">
        <img id="logo" alt="Logo" src="../../static/images/logo.png" class="img-fluid"
          style="width: 90px; height: 50px;">
        <span style="font-weight: 700">
          Disaster Consult <br>
          <b style="font-weight: 500">{{ site|upper }}</b>
        </span>

      </a>
      <div class="w-100 text-right pt-2">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">

        {% if sites %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Select Disaster</a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            {% for site in sites %}
            <a class="dropdown-item" href="{{ url_for('Pages_home', site=site.slug) }}">{{site.title}}</a>
            {% endfor %}
          </div>
        </li>
        {% endif %}



        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a href="{{ url_for('admin_select') }}" class="nav-link">Admin</a>
        </li>
        {% endif %}

      </ul>

    </div>
  </nav>
</header>

<main style="padding-top:5.5rem;">
  {% if site %}
  <div class="text-center">
    <h1>{{ site|upper }}</h1>
  </div>
  <hr>
  {% endif %}

  <div class="container-fluid">
    <div class="row">
      {% if table_contents %}
      <div class="col-lg-3 d-none d-lg-block">
        <div class="sticky-top" style="top: 90px; z-index: 2;">
          <div id="tocDiv" class="useful-links-box">
            <h4>{% if table_contents %}Table of Contents{% endif %}</h4>
            <div class="blueLine"></div>

            <div id="slide-out" class="custom-side-nav fixed" style="transform: translateX(0%);">
              <ul class="custom-scrollbar">
                <!-- Side navigation links -->
                <li>
                  <ul class="collapsible collapsible-accordion">

                    {% for cat in table_contents %}
                    <li>
                      <a class="collapsible-header waves-effect arrow-r">{{ cat.name }}
                        <i class="fas fa-angle-down rotate-icon"></i>
                      </a>
                      <div class="collapsible-body">
                        <ul>
                          {% for sec in cat.sections %}
                          <li><a
                              href="{{ url_for('Pages_view_section', sectionID=sec.id, categoryID=cat.id, site=site) }}"
                              class="waves-effect">{{ sec.name }}</a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                <!--/. Side navigation links -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="{% if table_contents %}col-12 col-lg-9{% else %}col-12{% endif %}">
        {% block main_content %}{% endblock %}
      </div>
    </div>
  </div>
  {% block secondary_content %}{% endblock %}

  <!--Floating Catalog Button -->
  <div class="fixed-action-btn d-lg-none" style="bottom: 15px; left: 15px;">
    <a data-target="#leftContentModal" data-toggle="modal" class="button-collapse btn-sm btn-primary" id="tocButton"
      href="#leftContentModal">Table of Contents</a>
  </div>

  <!-- Table of Content Modal - Full Height Modal Left -->
  <div class="modal fade left" id="leftContentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-left" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Table of Contents</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="tocModal" class="modal-body">
          <div id="slide-out" class="custom-side-nav fixed" style="transform: translateX(0%);">
            <ul class="custom-scrollbar">
              <!-- Side navigation links -->
              <li>
                <ul class="collapsible collapsible-accordion">

                  {% for cat in table_contents %}
                  <li>
                    <a class="collapsible-header waves-effect arrow-r">{{ cat.name }}
                      <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                    <div class="collapsible-body">
                      <ul>
                        {% for sec in cat.sections %}
                        <li><a
                            href="{{ url_for('Pages_view_section', sectionID=sec.id, categoryID=cat.id, site=site) }}"
                            class="waves-effect">{{ sec.name }}</a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              <!--/. Side navigation links -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}


{% block scripts %}
<script>
  $(document).ready(function () {

  });
</script>
{% block scripts_content %}{% endblock %}
{% endblock %}