{% extends "admin_panel.html" %}

{% block head %}

{% endblock %}

{% block panel_title %}Create Literature Post{% endblock %}

{% block panel_buttons %}
{% endblock %}

{% block literaturesButton %}active{% endblock %}

{% block content %}
<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;">
	<div class="card-body">
		<form method="post">
			<div class="form-group">
				<label>Title</label>
				<input name="title" type="text" placeholder="Title" class="form-control" value="{{ literature.title }}"/>
			</div>
			<div class="form-group">
				<label>Description</label>
				<div class="document-editor">
					<div class="document-editor__toolbar" id="toolbar-container"></div>
					<div class="ckeditor" id="editor" rows="10">
						{{ literature.description|safe }}
					</div>
					<textarea style='display:none;' name='description' id='editor1'></textarea>
				</div>
			</div>
			<div class="form-check">
				<div class="custom-control custom-checkbox checkbox-xl">
					<input name="public" type="checkbox" class="custom-control-input" id="checkbox-3" {% if literature.public==True %}checked{% else %}{% endif %}>
					<label class="custom-control-label" for="checkbox-3">Public</label>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Save Literature</button>
			</div>
		</form>
	</div>
</div>
<script>
	var theEditor;

	DecoupledEditor
	.create( document.querySelector( '#editor' ), {
		fontSize: {
			options: [
			'tiny',
			'default',
			'big'
			]
		},
		ckfinder: {
			uploadUrl: '{{ url_for('Posts_upload_just_image') }}'
		}} )
	.then( editor => {
		theEditor = editor;
		const toolbarContainer = document.querySelector( '#toolbar-container' );

		toolbarContainer.appendChild( editor.ui.view.toolbar.element );
	} )
	.catch( error => {
		console.error( error );
	} );

	function getDataFromTheEditor() {
		return theEditor.getData();
	}

	$(document).on("submit", "form", function (e) {
		console.log('here');
		html = getDataFromTheEditor();
		$("#editor1").val(html);
		console.log(html);
		return true;
	})
</script>
{% endblock %}

