{% extends "pages/base.html" %}

{% block content %}
<br>
<div class="container" style="max-width: 1200px;">
	<div class="row">
		<!--newsContainerStart-->
		<!--<div class="col-sm-2">
		</div><!--end col-->
		
		<div class="col-sm-9">
			<h1>About Us</h1>
			<div class="blueLine"></div>
			<br>
			<p>We are a group of Physicians, Disaster Medicine, Computer Science/IT specialists, and students working to provide easy to use clinical resources for front line healthcare workers. We do our best to review current literature, best practices, and guidelines in order to give you the most relevant and important information. We welcome feedback and constructive criticism. </p>
			<div class="greyLine"></div>
			<h3><center>Our Team</center></h3>
			<h4><b>Co-Creators</b></h4><br>
			<div class="row">
				<div class="col-sm">
					<img src="../../static/images/Jordan.png" class="img-fluid about-us-profile-img"><br>
					<a href="https://www.linkedin.com/in/jordan-selzer-b6146b37" target="_blank"><b>Jordan Selzer M.D.</b></a>
					<br><br>
					<p>Dr. Jordan Selzer is a disaster and operational medicine fellow and emergency medicine physician at GWU. His areas of focus include operationally focused disaster response work as well as healthcare cybersecurity.</p>

					<p> He has significant disaster response experience: having worked in the Bahamas and US Virgin Islands after Hurricanes Irma, Maria, and Dorian.</p>

					<p>He is also a co-founder of an app-based medical tech startup <a href="https://mayjuun.com/" target="_blank">MayJuun</a>, focused on improving physician experience of healthcare delivery.</p>

					<p>Dr. Selzer attended medical school at Loyola University Chicago and completed his residency in Emergency Medicine at Maricopa Medical Center in Phoenix, Arizona.</p>
				</p>
			</div>
			<div class="col-sm">
				<img src="../../static/images/Lance.png" class="img-fluid about-us-profile-img"><br>
				<a href="https://www.cs.seas.gwu.edu/lance-j-hoffman" target="_blank"><b>Lance Hoffman Ph.D.</b></a>
				<br><br>
				<p>
					Professor Lance Hoffman developed the first regularly offered course on computer security in 1970.
				</p>

				<p>
					A Fellow of the Association for Computing Machinery and a member of the Cyber Security Hall of Fame, Dr. Hoffman has written five books and numerous articles on the topic, overseen the development of hundreds of students in the field, served on a number of Advisory Committees including those of Federal Trade Commission and the Department of Homeland Security, and testified before Congress on the topic.  
				</p>
				<p>
					He earned his Ph. D. in Computer Science from Stanford University after a B.S. in Mathematics from Carnegie Mellon University.   
				</p>
			</div>
			<div class="col-sm">
				<img src="../../static/images/Adam.png" class="img-fluid about-us-profile-img"><br>
				<a href="https://www.linkedin.com/in/adam-munday-358b836a/" target="_blank"><b>Adam Munday</b></a>
				<br><br>
				<p>
					Adam Munday is a medical student at George Washington University. Before joining GWU, Adam graduated from the University of Maryland with a B.S. in Kinesiology and completed the Special Master’s program at Georgetown University. 
				</p>
				<p>
					Before pursuing medicine, he was a nationally competitive ice dancer. After retirement, he continued coaching for internationally and nationally competitive ice dance and synchronized skating teams. 
				</p>
				<p>
					Adam began his research career at NIH, studying and testing the effects of exercise on lupus patients. Adam is currently researching at Children’s National Medical Center under Dr. James Chamberlain and Dr. Kenneth McKinley. 
				</p>
			</div>
		</div>
		<div class="greyLine"></div>		
		<h4><b>Medical Review Panel</b></h4><br>
		<div class="row">
			<div class="col-sm">
				<img src="../../static/images/Samantha.png" class="img-fluid about-us-profile-img"><br>
				<!--<a href="" target="_blank">--><b>Samantha Noll M.D.</b><!--</a>-->
				<br><br>
				<p>
					Dr. Samantha Noll, MD is an emergency medicine physician and research instructor at GWU. She has completed a dual emergency and internal medicine residency and is board certified in both specialties. She is a local subject matter expert in highly infectious diseases and medical countermeasures.
				</p>

				<p>
				She has provided medical direction for various Washington, DC events including national special security events. She has provided medical triage and care during a mass casualty shooting incident in the emergency department. She has been involved with hospital emergency management including conducting hazard vulnerability analysis, examining surge capacity and resource utilization, and planning and executing full-scale exercises.</p>
			</div>
			<div class="col-sm">
				<img src="../../static/images/Timur.png" class="img-fluid about-us-profile-img"><br>
				<!--<a href="" target="_blank">--><b>Timur Alptunaer M.D.</b><!--</a>-->
				<br><br><p>
					Dr. Timur Alptunaer is an emergency medicine physician and is a current disaster and operational medicine fellow at GWU in Washington, DC. He completed his residency in emergency medicine at SUNY Stony Brook where he was resident director of medical student education. 
				</p>
				<p>
				He serves as a Captain in the US Army Reserves and also obtained his nursing degree prior to entering medical school. He recently deployed to Mozambique as a member of Team Rubicon to provide disaster relief following Cyclone Idai.</p>
			</div>
			<div class="col-sm">
				<img src="../../static/images/Andrew.png" class="img-fluid about-us-profile-img"><br>
				<!--<a href="" target="_blank">--><b>Andrew Bouland M.D.</b><!--</a>-->
				<br><br><p>
					Dr. Andrew Bouland is the current EMS fellow at Carolinas Medical Center and Mecklenburg EMS Agency in Charlotte, NC. He completed his residency in emergency medicine at the Virginia Tech Carilion in Roanoke, VA. He is a graduate of the University of Maryland School of Medicine and a native of Laurel, MD. Dr. Bouland has an extensive background in EMS including greater than 12 years as an EMS provider in both Maryland and Virginia. 
				</p>
				<p>
					He has particular interest in out of hospital cardiac arrest and resuscitation, specifically post-ROSC care, airway management, and bystander CPR. 
				</p>
				<p>
					He is a founding board member for the Compress and Shock Foundation, a national nonprofit that provides free CPR and AED education for laypersons.
				</p> 
				<p> 
					Additionally, he is the current chairperson of the EMS Subcommittee of the Metrolina Advisory Council in North Carolina. As a volunteer with Team Rubicon, he recently deployed to the Bahamas after Hurricane Dorian.
				</p>
			</div>

		</div>
		<div class="row">
			<div class="col-sm">
				<img src="../../static/images/James.png" class="img-fluid about-us-profile-img"><br>
				<a href="https://www.gwumc.edu/smhs/facultydirectory/profile.cfm?empName=James%20Phillips&FacID=2076962495" target="_blank"><b>James Phillips M.D.</b></a>
				<br><br><p>

				</p>
			</div>
			<div class="col-sm"></div>
			<div class="col-sm"></div>
		</div>
		<div class="greyLine"></div>
		<div class="row">
			<div class="col-sm">
				<h4><b>Medical Content Team</b></h4>
				<ul>
					<li>Aida Roman</li>
					<li>Caitlin Davis</li>
					<li>Chinelo Onyilofor</li>
					<li>Frankie Baruffi</li>
					<li>Nathan Hollister</li>
					<li>Neel Duggal</li>
					<li>Taylor Wahrenbrock</li>
				</ul>
			</div>
			<div class="col-sm">
				<h4><b>Web Development Team</b></h4>
				<ul>
					<li><a href="https://aaronkovacs.github.io" target="_blank">Aaron Kovacs</a></li>
					<li>Aarvi Thadeshwar</li>
					<li><a href="https://www.linkedin.com/in/brooke-claroni-7bb429184/" target="_blank">Brooke Claroni</a></li>
					<li>Dimitrije Mitic</li>
					<li>Ryan Rosica</li>
				</ul>
			</div>
		</div>
	</div><!--end col-->

	<div class="col-sm-3">
		<center>
			<div class="useful-links-box">
				<h4>Useful Links</h4>
				<div class="blueLine"></div>
				<h5>National/ International</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">CDC</a></li>
					<li class="useful-link"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a></li>
					<li class="useful-link"><a href="https://www.osha.gov/SLTC/covid-19/">OSHA</a></li>
					<li class="useful-link"><a href="http://www.med.umich.edu/surgery/mcccn/documents/DoD-COVID-19-Practice-Management-Guide-V10">Military/ DOD</a></li>
				</ul>
				<h5>Emergency Medicine</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://www.acep.org/corona/covid-19-field-guide/cover-page/">ACEP</a></li>
				</ul>
				<h5>Critical Care</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://www.sccm.org/SurvivingSepsisCampaign/Guidelines/COVID-19">SCCM</a></li>
					<li class="useful-link"><a href="https://www.chestnet.org/Guidelines-and-Resources/COVID-19/Updates-and-Resources">ACCP</a></li>
				</ul>
				<h5>Infectious Disease</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://www.idsociety.org/public-health/COVID-19-Resource-Center/">IDSA</a></li>
				</ul>
				<h5>Surgery</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://www.facs.org/covid-19">ACS</a></li>
				</ul>
				<h5>EMS</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://naemsp.org/resources/covid-19-resources/">NAEMSP</a></li>
				</ul>
				<h5>OB/GYN</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://www.acog.org/en/Topics/COVID-19">ACOG</a></li>
				</ul>
				<h5>Pediatrics</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://services.aap.org/en/pages/2019-novel-coronavirus-covid-19-infections/">AAP</a></li>
				</ul>
				<h5>Psychiatry</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://www.psychiatry.org/psychiatrists/covid-19-coronavirus/practice-guidance-for-covid-19">APA</a></li>
				</ul>
				<h5>Radiology</h5>
				<ul style="margin: 0; margin-top: 0.5em;">
					<li class="useful-link"><a href="https://www.acr.org/Clinical-Resources/COVID-19-Radiology-Resources">ACR</a></li>
				</ul>
			</div> <!--end link box style-->
		</center>
	</div><!--end col-->


</div><!--end row-->
</div><!--end container-->
{% endblock %}
