{% extends "base-pages/base-general.html" %}
{% from "components/about_us_profiles.html" import profile_with_description, profile_link %}

{% block title_ext %} | About Us{% endblock %}

{% block main_content %}
<br>

<div class="container">
  <!-- <div class="row justify-content-center">
    <div class="col-12 col-md-10"> -->

  <div class="row justify-content-center">
    <div class="col-12">
      <h1>About Us</h1>
      <div class="blueLine"></div>
      <p>We are a group of Physicians, Disaster Medicine, Computer Science/IT specialists, and students working to
        provide easy to use clinical resources for front line healthcare workers. We do our best to review
        current literature, best practices, and guidelines in order to give you the most relevant and important
        information. We welcome feedback and constructive criticism. </p>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-12 col-md-5 text-center smooth-scroll">
      <h4><a href="#ourTeam" style="color: #25353F;"><u>Our Team</u></a></h4>
    </div>
    <div class="col-12 col-md-5 text-center smooth-scroll">
      <h4><a href="#inthenews" style="color: #25353F;"><u>In The News</u></a></h4>
    </div>
  </div>

  <div class="greyLine"></div>

  <div id="ourTeam" class="about-us-anchor"></div>
  <section>
    <div class="row text-center justify-content-center">
      <h3 class="h3-responsive"><strong>Our Team</strong></h3>
    </div>

    <div class="row justify-content-center">
      <!-- Co-Creators -->
      <section>
        <div class="row text-center justify-content-center">
          <h4 class="h4-responsive">Co-Creators</h4>
        </div>
        <div class="row justify-content-center">
          {% for profile in user_profiles if "Co-Creators" in profile.section %}
          {{profile_with_description(profile)}}
          {% endfor %}
        </div>
      </section>

      <div class="greyLine"></div>

      <!-- Special Advisors -->
      <section>
        <div class="row text-center justify-content-center">
          <h4 class="h4-responsive">Special Advisors</h4>
        </div>
        <div class="row justify-content-center">
          {% for profile in user_profiles if "Special Advisors" in profile.section %}
          {{profile_with_description(profile)}}
          {% endfor %}
        </div>
      </section>

      <div class="greyLine"></div>

      <!-- Medical Review Panel -->
      <section>
        <div class="row text-center justify-content-center">
          <h4 class="h4-responsive">Medical Review Panel</h4>
        </div>
        <div class="row justify-content-center">
          {% for profile in user_profiles if "Medical Review Panel" in profile.section %}
          {{profile_with_description(profile)}}
          {% endfor %}
        </div>
      </section>

      <div class="greyLine"></div>

      <!-- Linked Names -->
      <section style="width:100%;">
        <div class="row">
          <!-- Medical Content Team -->
          <div class="col-12 col-sm-6 col-md-4">
            <h4 class="h4-responsive">Medical Content Team</h4>
            <ul class="list-unstyled ml-3">
              {% for profile in user_profiles if "Medical Content Team" in profile.section %}
              <li>{{profile_link(profile)}}</li>
              {% endfor %}
            </ul>
          </div>

          <!-- Website Development Team -->
          <div class="col-12 col-sm-6 col-md-4">
            <h4 class="h4-responsive">Website Development Team</h4>
            <ul class="list-unstyled ml-3">
              {% for profile in user_profiles if "Website Development Team" in profile.section %}
              <li>{{profile_link(profile)}}</li>
              {% endfor %}
            </ul>
          </div>

          <!-- Past Team Members -->
          <div class="col-12 col-sm-6 col-md-4">
            <h4 class="h4-responsive">Past Team Members</h4>
            <ul class="list-unstyled ml-3">
              {% for profile in user_profiles if "Past Team Members" in profile.section %}
              <li>{{profile_link(profile)}}</li>
              {% endfor %}
            </ul>
          </div>
      </section>
    </div>

  </section>

  <div class="greyLine"></div>
  
  <div id="inthenews" class="about-us-anchor"></div>
  <section >
    <div class="row text-center justify-content-center">
      <h3 class="h3-responsive">Disaster Consult In The News</h3>
    </div>

    <div class="row">
      <p class="mb-0"><b>In the Lion’s Mouth: Site Equips Health Care Providers to Respond to COVID-19:</b></p>
      <p class="mb-0">Disaster Consult, created by an interdisciplinary team from SEAS and SMHS, provides health care workers
        with up-to-date information about dealing with the pandemic. (May 1, 2020)</p>
      <p class="mb-0"><a href="https://gwtoday.gwu.edu/lion%E2%80%99s-mouth-site-equips-health-care-providers-respond-covid-19"
          target="_blank">Full Article Here</a></p>
    </div>
  </section>

  <!-- </div>
  </div> -->
</div>



{% endblock %}

{% block scripts_content %}
<script>
  $(document).ready(function () {
    $(".read-more").readMore({ previewHeight: 200 });
  });
</script>
{% endblock %}