{% extends "pages/base.html" %}

{% block content %}
<br>
<div class="container" style="max-width: 1200px;">
	<div class="row">
		<!--newsContainerStart-->
		<!--<div class="col-sm-2">
		</div><!--end col-->
		
		<div class="col-sm-9">
			<h1>Contact Us</h1>
			<div class="blueLine"></div>
			<br>
			<h3>Email</h3>
			<p>For general inquiries or other requests, please contact <a href="mailto:disasterconsultmd@gmail.com">disasterconsultmd@gmail.com</a></p>
			<div class="greyLine"></div>
			<h3>Social</h3>
			<p>Instagram: <a href="https://www.instagram.com/disasterconslt/">@DisasterConslt</a></p>
			<p>Twitter: <a href="https://twitter.com/disasterconslt">@DisasterConslt</a></p>
			<p>Facebook: <a href="https://www.facebook.com/disasterconslt">Disaster Consult</a></p>
			
		</div><!--end col-->
		
		<div class="col-sm-3">
				<center>
					<div class="useful-links-box">
						<h4>Useful Links</h4>
						<div class="blueLine"></div>
						<h5>National/ International</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" style="color: #28353e;">CDC</a></li>
							<li class="useful-link"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" style="color: #28353e;">WHO</a></li>
							<li class="useful-link"><a href="https://www.osha.gov/SLTC/covid-19/" style="color: #28353e;">OSHA</a></li>
							<li class="useful-link"><a href="http://www.med.umich.edu/surgery/mcccn/documents/DoD-COVID-19-Practice-Management-Guide-V10" style="color: #28353e;">Military/ DOD</a></li>
						</ul>
						<h5>Emergency Medicine</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://www.acep.org/corona/covid-19-field-guide/cover-page/" style="color: #28353e;">ACEP</a></li>
						</ul>
						<h5>Critical Care</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://www.sccm.org/SurvivingSepsisCampaign/Guidelines/COVID-19" style="color: #28353e;">SCCM</a></li>
							<li class="useful-link"><a href="https://www.chestnet.org/Guidelines-and-Resources/COVID-19/Updates-and-Resources" style="color: #28353e;">ACCP</a></li>
						</ul>
						<h5>Infectious Disease</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://www.idsociety.org/public-health/COVID-19-Resource-Center/" style="color: #28353e;">IDSA</a></li>
						</ul>
						<h5>Surgery</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://www.facs.org/covid-19" style="color: #28353e;">ACS</a></li>
						</ul>
						<h5>EMS</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://naemsp.org/resources/covid-19-resources/" style="color: #28353e;">NAEMSP</a></li>
						</ul>
						<h5>OB/GYN</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://www.acog.org/en/Topics/COVID-19" style="color: #28353e;">ACOG</a></li>
						</ul>
						<h5>Pediatrics</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://services.aap.org/en/pages/2019-novel-coronavirus-covid-19-infections/" style="color: #28353e;">AAP</a></li>
						</ul>
						<h5>Psychiatry</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://www.psychiatry.org/psychiatrists/covid-19-coronavirus/practice-guidance-for-covid-19" style="color: #28353e;">APA</a></li>
						</ul>
						<h5>Radiology</h5>
						<ul style="margin: 0; margin-top: 0.5em;">
							<li class="useful-link"><a href="https://www.acr.org/Clinical-Resources/COVID-19-Radiology-Resources" style="color: #28353e;">ACR</a></li>
						</ul>
					</div> <!--end link box style-->
				</center>
			</div><!--end col-->


	</div><!--end row-->
</div><!--end container-->
{% endblock %}
