{% extends "base-pages/base-general.html" %}

{% block main_content %}

<div class="container my-5" style="height: 80vh;">
  <div class="flex-center">

    <!--Section: Content-->
    <section class="contact-section dark-grey-text mb-5 ">

      <!-- Contact us Card -->
      <div class="card z-depth-2">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-lg-6">

            <div class="card-body form">

              <!-- Header -->
              <h3 class="font-weight-bold dark-grey-text mt-4">Feedback & Suggestions</h3>

              <div class="row h-100">
                <div class="col-12 text-center justify-content-center">
                  <button data-toggle="modal" button data-target="#feedbackModal" type="button"
                    class="btn btn-outline-primary waves-effect w-100 text-center">Send
                    Feedback</button>
                </div>
                <div class="col-12 text-center justify-content-center">
                  <button data-toggle="modal" button data-target="#suggestionModal" type="button"
                    class="btn btn-outline-primary waves-effect w-100 text-center">Suggest Content</button>
                </div>
              </div>

            </div>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-lg-6">

            <div class="card-body contact text-center h-100 white-text">

              <h3 class="font-weight-bold my-4 pb-2">Contact information</h3>
              <ul class="text-lg-left list-unstyled ml-4">
                <li>
                  <a><i class="fas fa-envelope pr-2"
                      href="mailto:contactus@disasterconsult.org"></i>contactus@disasterconsult.org</a>
                </li>
              </ul>
              <hr class="hr-light my-4">
              <ul class="list-inline text-center list-unstyled">
                <li class="list-inline-item">
                  <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/disasterconslt/">
                    <i class="fab fa-instagram"> </i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 fa-lg tw-ic" href="https://twitter.com/disasterconslt">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 fa-lg ins-ic" href="https://www.facebook.com/disasterconslt">
                    <i class="fab fa-facebook"> </i>
                  </a>
                </li>
              </ul>

            </div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Contact us Card -->

    </section>
    <!--Section: Content-->

  </div>
</div>
{% endblock %}

{% block scripts_content %}

{% endblock %}