{% extends "pages/base.html" %}

{% block content %}
<div class="btnContainer">
  <div class="btn-lg">
    <button type="button" class="btn responsive-width" id="providerBtn" onclick="window.location.href = '{{ url_for('Pages_categories') }}';" style="white-space: normal;">
      <h2>I am a Provider!</h2>
      <h3>For guidance on procedures, click here.
        <img src="{{ url_for('static', filename = 'images/chevron-right.png') }}" align="right" height="30" width="30">
      </h3>
    </button>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <!--newsContainerStart-->
    <div class="col-sm-9" id="newsContainer">
      <h2>Latest News</h2>


      {% for link in links %}
      <div class="row newsRow">
        <div class="col-3 image-container" style="background-image: url('{{ link.large_url }}');">
        </div>
        <div class="col-9">
          <h4>{{ link.title }}</h4>
          <p>{{ link.description }}</p>
          <a href="{{ link.url }}">{{ link.url }}</a>
        </div>
      </div>
      {% endfor %}

	  <br>
      <div class="btnRow">
        <p><a class="btn btn-secondary" href="{{ url_for('Pages_view_all_news') }}" role="button" style="font-weight: 700">See more news &raquo;</a></p>
      </div>
    </div><!--NewsContainerEnd-->

    <div class="col-sm-3">
		<center>
			<div style = "border: 2px solid #D7D7D7;
			border-radius: 10px;
			width: 95%; 
			padding: 10px; 
			margin: 4px 0;
			text-align: left;
			height: 12em;">

			<h4>Useful Links</h4>
			<div class="blueLine"></div>
			<ul>
				<li><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" style = "color:black">CDC</a></li>
				<li><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" style = "color:black">WHO</a></li>
				<li><a href="https://www.osha.gov/SLTC/covid-19/" style = "color:black">OSHA</a></li>
			</ul>
		</div>
	</center>
  </div>
</div><!--topContainerEnd-->

<div class="container-fluid" id="anyContainer"><!--middleContainerStart-->
  <h2 class="literature">Latest Literature</h2>
  <div class="row">

    {% for lit in literatures %}
    <div class="col-md-4">
      <h2>{{ lit.title }}</h2>
      <p>{{ lit.description }}</p>
    </div>
    {% endfor %}

  </div>
  <div class="btnRow">
    <p><a class="btn btn-secondary" href="{{ url_for('Pages_view_all_literature') }}" role="button" style="font-weight: 700">See more literature &raquo;</a></p>
  </div>
</div> <!-- middleContainerEnd -->

<div class="container-fluid" id="anyContainer"><!--numbersContainerStart-->
  <h2>Latest Numbers</h2>
  <span style="color: #D8D8D8"><h4>Data from John Hopkins</h4></span>
  <div class="container-fluid" id="graphContainer">

  </div>
  <div class="row" id="stats">
    <div class="col-md-3">
      <h1>10</h1>
      <h4>Description</h4>
    </div> 
    <div class="col-md-3">
      <h1>10</h1>
      <h4>Description</h4>
    </div>
    <div class="col-md-3">
      <h1>10</h1>
      <h4>Description</h4>
    </div>
    <div class="col-md-3">
      <h1>10</h1>
      <h4>Description</h4>
    </div>
  </div>
  <hr>
</div>

{% endblock %}
