{% extends "pages/base.html" %}

{% block content %}
<br>
<div class="container" style="max-width: 1200px;">
	<div class="row">
		<!--newsContainerStart-->
		<div class="col-sm-2">
		</div><!--end col-->

		<div class="col-sm-7">
            <h1>Medical Disclaimer</h1>
            <div class="blueLine"></div>
			<br>
			<p>Last updated: April 10, 2020</p>
			<p>*Adopted from the <a href="https://first10em.com/disclaimer/" target="_blank">First10EM</a> disclaimer</p>
            <h3>Summary</h3>
         
            <p>This site is free, open access medical education, specifically tailored for medical professionals. &nbsp;The information is not designed as specific medical advice. Please use this information in combination with other available best resources and analyze critically. &nbsp;Please consider how this information fits with your own skills, work environment and resources. It is by no means comprehensive or complete!</p>
          
            <h3>Legal stuff</h3>
       
            <p>The materials on this site are provided for general medical education purposes only and are not meant to be applied rigidly and followed in all cases. Use of this information in a particular situation remains the professional responsibility of the practitioner. In no event will Disaster Consult LLC or any of its staff or participants be liable for any decision made or action taken in reliance upon the information provided. Disaster Consult LLC and its staff will not be liable for any direct, indirect, special, incidental or consequential damages (including, without limitation, damages resulting from lost profits or revenue; loss of use of or reliance on the service, information provided or of any executable programs; loss of use of data or equipment; medical errors and malpractice or any other similar damages) arising out of the use or inability to use the website or any content obtained through the website.</p>
            
            <p>Nothing contained in the site is intended to create a physician-patient relationship, to replace the services of a licensed, trained physician or health professional or to be a substitute for medical advice of a physician or trained health professional. You should not rely on anything contained in the site. Consult your own physician for any medical issues that you may be having.</p>
            <h3>Accuracy</h3>
            
            <p>Every effort is made to ensure that the information provided on this website is accurate. References and links are always provided. However, please realize that the practice of medicine is constantly changing and that one physician may interpret the available evidence differently from another. Furthermore, Disaster Consult LLC is dedicated to exploring the management of chaotic, austere and limited resource situations and there frequently is no available evidence to guide us in these situations. Therefore, much of the information provided is based on expert opinion and extrapolation from what evidence is available. We cannot guarantee that the information provided is complete, correct, timely, current or up-to-date. Similar to any printed materials, the information may become out-of-date. We welcome comments, feedback and corrections on all posts. The information provided may be updated or changed at any time.</p>
            
            <p>This is important, so let me rephrase: we cannot give any guarantee about the accuracy or validity of the information presented. &nbsp;It is not intended to form definitive medical advice and we do not necessarily recommend that our opinions should be translated into clinical care. The intended audience is medical professionals, and medical professionals should always think critically and independently about any new information.</p>
            <h3>Privacy</h3>
            
            <p>Disaster Consult LLC is HIPAA compliant and will never reveal the medical information of patients. While you may provide your email address to provide feedback about the website or its content, we will never share your email address or contact information with third parties. We will NEVER send spam mail. Aside from responding directly to the email address you provide, Disaster Consult LLC does not collect any of your personal information. </p>
            <h3>Legal use</h3>
            
            <p>Disaster Consult LLC should not be used in any legal capacity whatsoever, including but not limited to establishing &ldquo;standard of care&rdquo; in a legal sense or as a basis for expert witness testimony. No guarantee is given regarding the accuracy of any statements or opinions made on this website or its associated audiovisual components.</p>
        </div><!--end col-->

		

	</div><!--end row-->
</div><!--end container-->
{% endblock %}

