{% extends "pages/base.html" %}

{% block content %}
<div class="container" style="max-width: 1200px;">
	<br>
	<div class="row">
		<div class="col-sm-2"></div>

		<div class="col-sm-7">
			<h1>{{ section.title }}</h1><div class="blueLine"></div>
			{% for post in posts %}

			<button class="collapsible">
				<div class="row">
					<div class="col-10">
						<b>{{ post.title }}</b>
					</div>
					<div class="col-2">
						<div class = "vertical-center"><b>+</b></div>
					</div>
				</div>
			</button>
			<div class="collapsibleContent">
				<p>{{ post.content }}</p>
			</div>
			<br>

			{% endfor %}

		</div>
		<div class="col-sm-3" id="usefulLinks">
				<div class="usefulLinksTitle">
					<h3>Useful Links</h3>
				</div>
				<div class="linkRow">
					<h4>CDC</h4>
					<p>
						For the latest update to news visit the Center of Disease Control.
						<img src="{{ url_for('static', filename = 'images/chevron-right.png') }}" align="right" height="18" width="18">
					</p>
				</div>

				<div class="linkRow">
					<h4>CDC</h4>
					<p>
						For the latest update to news visit the Center of Disease Control.
						<img src="{{ url_for('static', filename = 'images/chevron-right.png') }}" align="right" height="18" width="18">
					</p>
				</div>

				<div class="linkRow">
					<h4>CDC</h4>
					<p>
						For the latest update to news visit the Center of Disease Control.
						<img src="{{ url_for('static', filename = 'images/chevron-right.png') }}" align="right" height="18" width="18">
					</p>
				</div>
	</div>
</div>

</div>
{% endblock %}


{% block footer %}
<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.maxHeight){
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			} 
		});
	}
</script>
{% endblock %}

