{% extends "pages/base.html" %}

{% block content %}
<div class="container" style="max-width: 1200px;">
	<br>
	<div class="row">
		<div class="col-sm-2"></div>

		<div class="col-sm-7">
			<h1>{{ section.title }}</h1><div class="blueLine"></div>

			<div class="accordion" id="accordionExample">
				<div class="card" style="border:2px solid #e8d29b; border-radius:7px">
					{% for post in posts %}
					<button class="btn btn-link" data-toggle="collapse" data-target="#{{ post.id }}" aria-expanded="false" aria-controls="collapseOne">
								{{ post.title }}
					</button>
					<div id="{{ post.id }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							{{ post.content|safe }}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>


		</div>
		<div class="col-sm-3">
			<center>
				<div class="useful-links-box">
					<h4>Useful Links</h4>
					<div class="blueLine"></div>
					<ul style="margin: 0; margin-top: 0.5em;">
						<li class="useful-link"><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" style="color: #28353e;">CDC</a></li>
						<li class="useful-link"><a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" style="color: #28353e;">WHO</a></li>
						<li class="useful-link"><a href="https://www.osha.gov/SLTC/covid-19/" style="color: #28353e;">OSHA</a></li>
					</ul>
				</div> <!--end link box style-->
			</center>
		</div>
	</div>

</div>
{% endblock %}


{% block footer %}
<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
		coll[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var content = this.nextElementSibling;
			if (content.style.maxHeight){
				content.style.maxHeight = null;
			} else {
				content.style.maxHeight = content.scrollHeight + "px";
			} 
		});
	}
</script>
{% endblock %}

