{% extends "base-pages/base-site-specific.html" %}

{% block main_content %}

<div class="row">
  <div class="col-12" id="newsContainer">
    <h2 class="mb-0">{{ section.title }}</h2>
    <h5 class="mb-2">{{ section.description }}</h5>

    <div class="blueLine mb-2"></div>

    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-blocks posts-box" id="postsAccordion" role="tablist"
      aria-multiselectable="true">

      {% for post in posts %}
      <!-- Accordion card -->
      <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="postHeading{{loop.index}}">
          <!-- Heading -->
          <a class="{% if posts|length > 1 %}collapsed{% endif %}" data-toggle="collapse" data-parent="#postsAccordion" href="#postCollapse{{loop.index}}"
            aria-expanded="false" aria-controls="postCollapse{{loop.index}}">
            <h5 class="mt-1 mb-0">
              <span>{{ post.title }}</span>
              <i class="fas fa-angle-down rotate-icon"></i>
            </h5>
          </a>
        </div>

        <!-- Card body -->
        <div id="postCollapse{{loop.index}}" class="collapse {% if posts|length == 1 %}show{% endif %}" role="tabpanel"
          aria-labelledby="postHeading{{loop.index}}" data-parent="#postsAccordion{{loop.index}}">
          <div class="card-body">
            {{ post.content|safe }}
            <i style="font-size: 8pt;">Last Updated {{ post.last_updated }}</i>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
      {% endfor %}

    </div>
    <!--/.Accordion wrapper-->

    <center style="margin-top: 2em; font-size: 10pt;">
      <i>Missing content?<a data-toggle="modal" href="#suggestionModal"> Submit a content suggestion</a></i>
    </center>
  </div>
</div>


{% endblock %}

{% block scripts_content %}

{% endblock %}