{% extends "base-pages/base-site-specific.html" %}

{% block main_content %}

<div class="row">
  <div class="col-12" id="newsContainer">
    <h2 class="mb-0">{{ section.title }}</h2>
    <h5 class="mb-2">{{ section.description }}</h5>

    <div class="blueLine mb-2"></div>

    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-blocks posts-box" id="postsAccordion" role="tablist"
      aria-multiselectable="true">

      {% for post in posts %}
      <!-- Accordion card -->
      <div class="card" id="postCard{{loop.index}}">

        <!-- Card header -->
        <div class="card-header" role="tab" id="postHeading{{loop.index}}">

          <!-- <a class="float-left btn btn-info m-0 mr-3 p-2" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-print"></i>
          </a> -->

          <!-- Heading -->
          <a class="{% if posts|length > 1 %}collapsed{% endif %}" data-toggle="collapse" data-parent="#postsAccordion"
            href="#postCollapse{{loop.index}}" aria-expanded="false" aria-controls="postCollapse{{loop.index}}">
            <h5 class="mt-1 mb-0">
              <span>{{ post.title }}</span>
              <i class="fas fa-angle-down rotate-icon"></i>
            </h5>
          </a>
        </div>

        <!-- Card body -->
        <div id="postCollapse{{loop.index}}" class="collapse {% if posts|length == 1 %}show{% endif %}" role="tabpanel"
          aria-labelledby="postHeading{{loop.index}}" data-parent="#postsAccordion">
          <div class="card-body">
            <a class="float-right btn-floating btn-sm btn-primary noprint"
              href="javascript:printPostDiv('#postCollapse{{loop.index}}', '{{post.title}}')">
              <i class="fas fa-print noprint"></i>
            </a>
            {{ post.content|safe }}
            <i style="font-size: 8pt;">Last Updated {{ post.last_updated }}</i>
          </div>
        </div>
      </div>
      <!-- Accordion card -->
      {% endfor %}

    </div>
    <!--/.Accordion wrapper-->

    <center style="margin-top: 2em; font-size: 10pt;">
      <i>Missing content?<a data-toggle="modal" href="#suggestionModal"> Submit a content suggestion</a></i>
    </center>
  </div>
</div>


{% endblock %}

{% block scripts_content %}
<script>
  function printPostDiv(el, title) {
    var dateStr = getDateTimeString();
    var htmlHeading = `<div class="container mt-4">
                          <div class="row justify-content-center">
                            <div class="col-12 text-center ">
                              <img src="../../static/images/logo.png" class="img-fluid" alt="Logo" style="max-width: 100px;">
                            </div>
                            <div class="col-12 text-center ">
                              <h1 class="h1-responsive mb-0">Disaster Consult</h1>
                            </div>
                            <div class="col-12 text-center ">
                              <small class="text-muted">Content Retrieved On ${dateStr} </small>
                            </div>
                            <div class="col-12 text-center ">
                              <hr>
                            </div>
                            <div class="col-12 text-center mb-3">
                              <h2 class="h2-responsive">${title}</h2>
                            </div>
                          </div>
                        </div>`;


    $(el).printThis({
      header: htmlHeading
    });

  }
</script>
{% endblock %}