{% extends "base-pages/base-general.html" %}

{% block main_content %}

<div class="container my-5" style="height: 80vh;">
  <div class="flex-center">


    <div class="row justify-content-center">
      <div class="col-12">

        <div class="card z-depth-2 mb-3">
          <div class="card-body">
            
            <!-- Header -->
            <div class="text-center">
              <h3 class="font-weight-bold dark-grey-text mt-4">Sponsors</h3>
            </div>
            
            <div class="row h-100 w-100 justify-content-center">
              <div class="col-12 col-md text-center">
                <a href="https://smhs.gwu.edu/" target="_blank">
                  <img src="../../static/images/SMHS.png" class="img-fluid" style="max-width:250px;">
                </a>
                <hr>
                <a href="https://smhs.gwu.edu/" target="_blank">
                  <h6 class="h6-responsive">GW School of Medicine &amp; Health Sciences</h6>
                </a>
              </div>
              <div class="col-12 col-md text-center">
                <a href="https://seas.gwu.edu/" target="_blank">
                  <img src="../../static/images/SEAS.png" class="img-fluid" style="max-width:250px;">
                </a>
                <hr>
                <a href="https://www.seas.gwu.edu/" target="_blank">
                  <h6 class="h6-responsive">GW School of Engineering &amp; Applied Science</h6>
                </a>
              </div>
            </div>

            <div class="row text-center justify-content-center">
              <hr class="col-10 clearfix rgba-white-light mx-1">
            </div>
            

            <div class="row h-100 w-100 justify-content-center">
              <div class="col-12 col-md text-center">
                <a href="https://aws.amazon.com/" target="_blank">
                  <img src="../../static/images/aws.png" class="img-fluid" style="max-width:250px;">
                </a>
                <hr>
                <a href="https://aws.amazon.com/" target="_blank">
                  <h6 class="h6-responsive">Amazon Web Services</h6>
                </a>
              </div>
              <div class="col-12 col-md text-center">
                <a href="https://trello.com/" target="_blank">
                  <img src="../../static/images/trello.png" class="img-fluid" style="max-width:112px;">
                </a>
                <hr>
                <a href="https://trello.com" target="_blank">
                  <h6 class="h6-responsive">Trello</h6>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div class="card z-depth-2 mb-3">
          <div class="card-body">
        
            <!-- Header -->
            <div class="text-center">
              <h3 class="font-weight-bold dark-grey-text mt-4">Contributors</h3>
            </div>
        
            <div class="row h-100 w-100 justify-content-center">
              <div class="col-12 col-md-6 text-center">
                <a href="http://www.georgehacks.org/" target="_blank">
                  <img src="../../static/images/gh.png" class="img-fluid" style="max-width:100px;">
                </a>
                <hr>
                <a href="http://www.georgehacks.org/" target="_blank">
                  <h6 class="h6-responsive">George Hacks</h6>
                </a>
              </div>
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>

{% endblock %}