{% extends "pages/base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <!--newsContainerStart-->
    <div class="col-9" id="newsContainer">
      <h2>Latest Literature</h2>


      {% for lit in literatures %}
      <div class="row newsRow" style="width: 100%;">
        <div class="col-9">
          <h4>{{ lit.title }}</h4>
          <p>{{ lit.description|safe }}</p>
        </div>
      </div>
      {% endfor %}

    </div>
  </div><!--topContainerEnd-->
</div>


{% endblock %}