{% extends "pages/base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <!--newsContainerStart-->
    <div class="longlist" id="newsContainer" style="margin-bottom: 2em;">
      <h2 style="margin-top: 2em;">{{ literature.title }}</h2>
      <p>{{ literature.description|safe }}</p>

      {% for link in links %}
      <div class="card-footer text-muted " style="border: 1px solid rgba(0,0,0,.125); border-radius: 4px 4px 4px 4px;">
        <a href="{{ link.url }}" class="card-link">{{ link.url }}</a>
      </div>
      {% endfor %}

    </div>
  </div><!--topContainerEnd-->
</div>


{% endblock %}