{% extends "pages/base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <!--newsContainerStart-->
    <div class="longlist" id="newsContainer">
      <h2 style="margin-top: 2em;">Latest News</h2>


      {% for link in links %}
      <div class="row newsRow" style="white-space: normal; word-wrap: break-word;">
        <div class="image-container" style="background-image: url('{{ link.large_url }}');">
        </div>
        <div>
          <h4 style="white-space: normal;">{{ link.title }}</h4>
          <p>{{ link.description }}</p>
          <a href="{{ link.url }}" >{{ link.url }}</a>
        </div>
      </div>
      {% endfor %}

    </div>
  </div><!--topContainerEnd-->
</div>


{% endblock %}