{% extends "pages/base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <!--newsContainerStart-->

    <div class="longlist" id="newsContainer">
      <h2 style="margin-top: 2em;">Latest Literature</h2>


      {% for lit in literatures %}
      <div class="newsRow" style="white-space: normal; word-wrap: break-word; display: block;">
        <h4 style="white-space: normal; word-wrap: break-word;">{{ lit.title }}</h4>
        <p>{{ lit.excerpt }}</p>
        <a href="{{ url_for('Pages_view_literature', literatureID=lit.id) }}" >View Literature</a>
      </div>
      {% endfor %}

    </div>
  </div><!--topContainerEnd-->
</div>


{% endblock %}