{% extends "admin_panel.html" %}

{% block head %}

{% endblock %}

{% block categoriesButton %}active{% endblock %}

{% block panel_title %}View Category{% endblock %}

{% block panel_buttons %}
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Categories_create_category', id=category.id  ) }}" class="btn btn-sm btn-outline-primary">Edit Category</a>
    </div>
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('Categories_add_section_category_view_sections', categoryID=category.id  ) }}">Add Section</a>
    </div>
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#deleteModal">Delete Category</button>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Delete Category?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deletes only this category, not the sections or posts contained. This cannot be undone and will take effect immediately.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{{ url_for('Categories_delete_category', categoryID=category.id  ) }}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="card" style="width: 30rem; margin-left: auto; margin-right: auto;">
    <div class="card-body">
        <h5 class="card-title">{{ category.title }}</h5>
        <p class="card-text">{{ category.description }}</p>  
        <p class="card-text"><b>Public:</b> {{ category.public }}</p>     
        {% for section in sections %}
        <div class="card-footer text-muted " style="border: 1px solid rgba(0,0,0,.125); border-radius: 4px 4px 4px 4px; margin-top: 1em;">
            <a href="{{ url_for('Sections_view_section', id=section.id) }}" class="card-link">{{ section.title }}</a>

            <div class="btn-toolbar mb-2 mb-md-0">
                <a style="margin-left: auto;" class="btn btn-sm btn-outline-secondary" href="{{ url_for('Categories_delete_section', sectionID=section.id, categoryID=category.id ) }}">Remove Section</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}