{% extends "admin_panel.html" %}

{% block head %}

{% endblock %}

{% block categoriesButton %}active{% endblock %}

{% block panel_title %}View Category{% endblock %}

{% block panel_buttons %}
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Categories_create_category', id=category.id  ) }}" class="btn btn-sm btn-outline-primary">Edit Category</a>
    </div>
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('Categories_add_section_category_view_sections', categoryID=category.id  ) }}">Add Section</a>
    </div>
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#deleteModal">Delete Category</button>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Delete Category?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deletes only this category, not the sections or posts contained. This cannot be undone and will take effect immediately.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{{ url_for('Categories_delete_category', categoryID=category.id  ) }}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="card" style="width: 50rem; margin-left: auto; margin-right: auto;">
    {% if category.public %}
    <div class="alert alert-success" role="alert" style="margin: 1em;">
        <b>Public Category</b>
        <br/>
        This category is public and visible on the main website.
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert" style="margin: 1em;">
        <b>Private Category</b>
        <br/>
        This category is not visible on the main website.
    </div>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ category.title }}</h5>
        <p class="card-text">{{ category.description }}</p>  
        {% for section in sections %}
        <div class="card-footer text-muted " style="border: 1px solid rgba(0,0,0,.125); border-radius: 4px 4px 4px 4px; margin-top: 1em;">
            <a href="{{ url_for('Sections_view_section', id=section.id) }}" class="card-link">{{ section.title }}</a>

            <div class="btn-toolbar mb-2 mb-md-0" style="float: right;">
                <a style="margin-left: auto;" class="btn btn-sm btn-outline-secondary" href="{{ url_for('Categories_delete_section', sectionID=section.id, categoryID=category.id ) }}">Remove Section</a>
            </div>

            <form action="{{ url_for('Categories_update_category_order', categoryID=category.id, sectionID=section.id) }}" method="post">
                <div class="form-group" style="margin-top: 0.5em;">
                    <label for="example-number-input" class="col-form-label">Order</label>
                    <div class="col-10" style="width: 150px; padding: 0;">
                        <input name="order" style="width: 150px;" onchange="this.form.submit()" class="form-control" type="number" value="{{ section.order }}" id="example-number-input">
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}