{% extends "admin_panel.html" %}

{% block panel_title %}Categories{% endblock %}

{% block header %}


{% endblock %}

{% block panel_buttons %}

<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Categories_create_category') }}" class="btn btn-sm btn-outline-primary">Add Category</a>
    </div>
</div>
{% endblock %}

{% block categoriesButton %}active{% endblock %}

{% block content %}
<div class="card" style="width: 50rem; margin-left: auto; margin-right: auto;">
    <div class="card-body">
        <table id="container" class="table table-hover table-normal">
            <thead>
                <tr>
                    <th scope="col">Public</th>
                    <th scope="col">Title</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody id="container">
                {% for category in categories %}

                <tr style="cursor: pointer;" class='clickable-row' data-href="{{ url_for('Categories_view_category', id=category.id  ) }}">
                    <a href="{{ url_for('Categories_create_category', id=category.id  ) }}">
                        <td style="max-width: 4em; min-width: 4em;">
                            {% if category.public %}
                            <div class="alert alert-success" style="padding: 0.25rem; text-align: center;" role="alert">
                                Public
                            </div>
                            {% else %}
                            <div class="alert alert-danger" style="padding: 0.25rem; text-align: center;" role="alert">
                                Private
                            </div>
                            {% endif %}
                        </td>
                        <th scope="row">{{ category.title }}</th>
                        <td>{{ category.id }}</td>
                    </a>
                </tr>


                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
