{% extends "admin_panel.html" %}
{% from "/admin/components/admin_panel_post_status.html" import post_status %}

{% block head %}

{% endblock %}

{% block sectionsButton %}active{% endblock %}

{% block panel_title %}View Section{% endblock %}

{% block panel_buttons %}

<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Pages_view_section', sectionID=section.id, site=site) }}" class="btn btn-sm btn-outline-primary">Open Website</a>
    </div>
    <div class="btn-group mr-2">
        <a href="{{ url_for('Sections_create_section', id=section.id, site=site) }}" class="btn btn-sm btn-outline-primary">Edit Section</a>
    </div>
    <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-primary" href="{{ url_for('Sections_add_post_section_view_posts', sectionID=section.id, site=site) }}">Add Post</a>
    </div>
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#deleteModal">Delete Section</button>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Delete Section?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Only deletes section, not contained posts. This cannot be undone and will take effect immediately.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="{{ url_for('Sections_delete_section', sectionID=section.id, site=site) }}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="card" style="width: 50rem; margin-left: auto; margin-right: auto;">
    {% if section.public %}
    <div class="alert alert-success" role="alert" style="margin: 1em;">
        <b>Public Section</b>
        <br/>
        This section is public and visible on the main website.
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert" style="margin: 1em;">
        <b>Private Section</b>
        <br/>
        This section is not visible on the main website.
    </div>
    {% endif %}
    <div class="card-body">

        <h5 class="card-title">{{ section.title }}</h5>
        <p class="card-text">{{ section.description|safe }}</p>  
        {% for post in posts %}
        <div class="card-footer text-muted " style="border: 1px solid rgba(0,0,0,.125); border-radius: 4px 4px 4px 4px; margin-top: 1em;">
            {{ post_status(post.status) }}
            <a href="{{ url_for('Posts_view', id=post.id, site=site) }}" class="card-link">{{ post.title }}</a>

            <div class="btn-toolbar mb-2 mb-md-0" style="float: right;">
                <a style="margin-left: auto;" class="btn btn-sm btn-outline-secondary" href="{{ url_for('Sections_delete_post', sectionID=section.id, postID=post.id, site=site) }}">Remove Post</a>
            </div>

            <form action="{{ url_for('Sections_update_section_order', sectionID=section.id, postID=post.id, site=site) }}" method="post">
                <div class="form-group" style="margin-top: 0.5em;">
                    <label for="example-number-input" class="col-form-label">Order</label>
                    <div class="col-10" style="width: 150px; padding: 0;">
                        <input name="order" style="width: 150px;" onchange="this.form.submit()" class="form-control" type="number" value="{{ post.order }}" id="example-number-input">
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block footer %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}