{% extends "admin_panel.html" %}

{% block head %}

{% endblock %}

{% block panel_title %}Create Section{% endblock %}

{% block panel_buttons %}
{% endblock %}

{% block sectionsButton %}active{% endblock %}

{% block content %}
<div class="card" style="width: 30rem; margin-left: auto; margin-right: auto;">
	<div class="card-body">
		<form method="post">
			<div class="form-group">
				<label>Title</label>
				<input name="title" type="text" placeholder="Title" class="form-control" value="{{ section.title }}" required/>
			</div>
			<div class="form-group">
				<label>Description</label>
				<textarea name="content" class="form-control" data-provide="markdown" data-hidden-buttons="cmdImage" rows="10" required>{{ section.description }}</textarea>
			</div>
			<div class="form-check">
				<div class="custom-control custom-checkbox checkbox-xl">
					<input name="public" type="checkbox" class="custom-control-input" id="checkbox-3" {% if section.public==True %}checked{% else %}{% endif %}>
					<label class="custom-control-label" for="checkbox-3">Public</label>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Save Section</button>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	$("#target-editor").markdown({
		savable:true,
		onShow: function(e){
			alert("Showing "
				+e.$textarea.prop("tagName").toLowerCase()
				+"#"
				+e.$textarea.attr("id")
				+" as Markdown Editor...")
		},
		onPreview: function(e) {
			var previewContent

			if (e.isDirty()) {
				var originalContent = e.getContent()

				previewContent = "Prepended text here..."
				+ "\n"
				+ originalContent
				+ "\n"
				+"Apended text here..."
			} else {
				previewContent = "Default content"
			}

			return previewContent
		},
		onSave: function(e) {
			alert("Saving '"+e.getContent()+"'...")
		},
		onChange: function(e){
			console.log("Changed!")
		},
		onFocus: function(e) {
			alert("Focus triggered!")
		},
		onBlur: function(e) {
			alert("Blur triggered!")
		}
	})
</script>
{% endblock %}

