<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>COVID-19 Disaster Consult Login</title>


    <link href="{{ url_for('static', filename = 'bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename = 'admin/login.css') }}" rel="stylesheet">

</head>

<body class="text-center">
    <form class="form-signin" method="post">
        {% if alert %}
        <div class="alert alert-danger" role="alert">
            {{ alert }}
        </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <label for="inputEmail" class="sr-only">Username</label>
        <input type="username" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p style="margin-top: 1em;">or</p>
        <a class="btn btn-lg btn-secondary" href="{{ url_for('Authentication_register') }}">Create Account</a>
    </form>

</body>
</html>
