{% extends "admin_panel.html" %}
{% from "/admin/components/admin_panel_post_status.html" import post_status, compact_post_status %}

{% block panel_title %}Posts{% endblock %}

{% block header %}


{% endblock %}

{% block panel_buttons %}
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Posts_create_post', site=site) }}" class="btn btn-sm btn-outline-primary">Create Post</a>
    </div>
</div>

{% endblock %}

{% block postsButton %}active{% endblock %}

{% block content %}






<div class="container">
  <div class="row">
      <div class="card" style="width: 50rem; margin-left: auto; margin-right: auto;">
        <div class="card-body">
            <form class="form-inline" action="{{ url_for('Posts_search', site=site) }}" method="post" style="margin-bottom: 1em;">
                <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" value="{{ query }}" aria-label="Search" style="width: 70%;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width: 28%;">Search</button>
            </form>
            <table id="container" class="table table-hover table-normal" style="width: 100%;">
                <thead>
                    <tr>
                        <th scope="col">Site</th>
                        <th scope="col">Title</th>
                        <th scope="col">Sections</th>
                        <th scope="col">Updated</th>
                    </tr>
                </thead>
                <tbody id="container">
                    {% for post in posts %}

                    <tr style="cursor: pointer;" class='clickable-row' data-href="{{ url_for('Posts_view', id=post.id, site=post.site) }}">
                        <a href="{{ url_for('Posts_create_post', id=post.id, site=site) }}">
                            <td >
                                {{ post.site }}
                            </td>
                            <th scope="row" style="" style="color: #007bff;">{{ post.title }}</th>
                            <th scope="row"  style="color: #007bff;">

                                {% for section in post.sections %}
                                <a href="{{ url_for('Sections_view_section', id=section.id, site=site) }}">{{section.title}}</a>
                                <br/>
                                {% endfor %}
                            </th>
                            <td>{{ post.last_updated }}</td>
                        </a>
                    </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</div>
</div>




{% endblock %}

{% block footer %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
