{% extends "admin_panel.html" %}
{% from "/admin/components/admin_panel_post_status.html" import post_status, compact_post_status %}

{% block panel_title %}Posts{% endblock %}

{% block header %}


{% endblock %}

{% block panel_buttons %}
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Posts_create_post', site=site) }}" class="btn btn-sm btn-outline-primary">Create Post</a>
    </div>
</div>

{% endblock %}

{% block postsButton %}active{% endblock %}

{% block content %}






<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="card" >
        <div class="card-body">
            <table id="container" class="table table-hover table-normal">
                <thead>
                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Sections</th>
                        <th scope="col">Updated</th>
                    </tr>
                </thead>
                <tbody id="container">
                    {% for post in posts %}

                    <tr style="cursor: pointer;" class='clickable-row' data-href="{{ url_for('Posts_view', id=post.id, site=site) }}">
                        <a href="{{ url_for('Posts_create_post', id=post.id, site=site) }}">
                            <td style="max-width: 4em;">
                                {{ post_status(post.status) }}
                            </td>
                            <th scope="row" style="max-width: 300px;" style="color: #007bff;">{{ post.title }}</th>
                            <th scope="row" style="max-width: 100px;" style="color: #007bff;">

                                {% for section in post.sections %}
                                <a href="{{ url_for('Sections_view_section', id=section.id, site=site) }}">{{section.title}}</a>
                                <br/>
                                {% endfor %}
                            </th>
                            <td>{{ post.last_updated }}</td>
                        </a>
                    </tr>


                    {% endfor %}
                </tbody>
            </table>
            {{ pagination.links }}
        </div>
    </div>

</div>
<div class="col">
    <div class="card" >

        <div class="card-body">
            <h4>Recently Edited</h4>
            <table id="container" class="table table-hover table-normal">
                <tbody id="container">
                    {% for post in recents %}

                    <tr style="cursor: pointer;" class='clickable-row' data-href="{{ url_for('Posts_view', id=post.id, site=site) }}">
                        <td style="max-width: 12em;">
                            {{ compact_post_status(post.status) }}
                        </td>
                        <th scope="row" style="max-width: 300px;" style="color: #007bff;">{{ post.title }}</th>
                    </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>




{% endblock %}

{% block footer %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
