{% extends "admin_panel.html" %}

{% block head %}

{% endblock %}

{% block postsButton %}active{% endblock %}

{% block panel_title %}View Post{% endblock %}

{% block panel_buttons %}
<div class="btn-toolbar mb-2 mb-md-0">
	<div class="btn-group mr-2">
		<a href="{{ url_for('Posts_create_post', id=post.id  ) }}" class="btn btn-sm btn-outline-primary">Edit Post</a>
	</div>
	<div class="btn-group mr-2">
		<a class="btn btn-sm btn-outline-primary" href="{{ url_for('Posts_upload_image', postID=post.id  ) }}">Add Image</a>
		<a class="btn btn-sm btn-outline-primary" href="{{ url_for('Posts_add_url', postID=post.id  ) }}">Add URL</a>
	</div>
	<div class="btn-group mr-2">
		<button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#deleteModal">Delete Post</button>
	</div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteLabel">Delete Post?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				This cannot be undone and will take effect immediately.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<a class="btn btn-danger" href="{{ url_for('Posts_delete_post', postID=post.id  ) }}" role="button">Delete</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block content %}


<div class="card" style="width: 50rem; margin-left: auto; margin-right: auto;">
	{% if post.public %}
	<div class="alert alert-success" role="alert" style="margin: 1em;">
		<b>Public Post</b>
		<br/>
		This post is public and visible on the main website.
	</div>
	{% else %}
	<div class="alert alert-danger" role="alert" style="margin: 1em;">
		<b>Private Post</b>
		<br/>
		This post is not visible on the main website.
	</div>
	{% endif %}
	<div class="card-body">
		<h5 class="card-title">{{ post.title }}</h5>
		<hr/>
		<div class="card-body ck-content">{{ post.content|safe }}</div>		
		{% for link in links %}
		<div class="card-footer text-muted " style="border: 1px solid rgba(0,0,0,.125); border-radius: 4px 4px 4px 4px;">
			<a href="{{ link.url }}" class="card-link">{{ link.text }} - {{ link.url }}</a>

			<div class="btn-toolbar mb-2 mb-md-0">
				<a style="margin-left: auto;" class="btn btn-sm btn-outline-secondary" href="{{ url_for('Posts_delete_url', urlID=link.id, postID=post.id ) }}">Delete URL</a>
			</div>
		</div>
		{% endfor %}
		{% for image in images %}
		<img style="margin-top: 2em;" class="card-img-top" src="{{ image.large_url }}" alt="image.text">
		<div class="card-footer text-muted " style="border: 1px solid rgba(0,0,0,.125); border-top: 0px solid rgba(0,0,0,.125); border-radius: 0px 0px 4px 4px;">
			<div class="btn-toolbar mb-2 mb-md-0">
				<a style="margin-left: auto;" class="btn btn-sm btn-outline-secondary" href="{{ url_for('Posts_delete_image', imageID=image.id, postID=post.id ) }}">Delete Image</a>
			</div>
		</div>
		{% endfor %}
	</div>

	<hr/>
	<div class="card-body">
		<h3 class="card-title">Changelog</h3>
		<table id="container" class="table table-normal">
			<thead>
				<tr>
					<th scope="col">Action</th>
					<th scope="col">Time</th>
				</tr>
			</thead>
			<tbody id="container">

				{% for activity in activities %}
				<tr>
					<td>
						{% if activity.draft %}
						<a href="{{ url_for('Drafts_view_draft', draftID=activity.draft) }}">{{ activity.user.realname }}: {{ activity.text }}</a>
						{% else %}
						{{ activity.user.realname }}: {{ activity.text }}
						{% endif %}

					</td>
					<td>{{ activity.created }}</td>
				</tr>

				{% endfor %}
			</tbody>
		</table>
		{{ pagination.links }}
	</div>

</div>



{% endblock %}
