{% extends "admin_panel.html" %}

{% block head %}

<script src="{{ url_for('static', filename = 'admin/htmldiff.js') }}"></script>

{% endblock %}

{% block postsButton %}active{% endblock %}

{% block panel_title %}View Draft{% endblock %}


{% block panel_buttons %}
{% if draft.object_type == 'post' %}

<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Posts_create_post', id=draft.object_id, site=site) }}" class="btn btn-sm btn-outline-primary">Edit Post</a>
    </div>
    <div class="btn-group mr-2">
        <a href="{{ url_for('Posts_view', id=draft.object_id, site=site) }}" class="btn btn-sm btn-outline-primary">Open Post</a>
    </div>
</div>

{% else %}
{% endif %}
{% endblock %}


{% block content %}

<style type="text/css">
    .container {
      width: 100%;
      margin: auto;
      padding: 10px;
  }

  .one {
    width: 50%;

    float: left;
}

.two {
  margin-left: 50%;
}

ins {
    text-decoration: none;
    background-color: #d4fcbc;
}

del {
    text-decoration: line-through;
    background-color: #fbb6c2;
    color: #555;
}

.diffable {}

</style>



{% if draft.approved %}
<div class="alert alert-success" role="alert" style="margin-bottom: 2em;width: 50rem; margin-left: auto; margin-right: auto;">
    <h5 class="alert-heading">Draft Approved</h5>
    <p class="mb-0">This draft has been approved.</p>
</div>
{% endif %}

{% if draft.rejected %}
<div class="alert alert-danger" role="alert" style="margin-bottom: 2em;width: 50rem; margin-left: auto; margin-right: auto;">
    <h5 class="alert-heading">Draft Rejected</h5>
    <p class="mb-0">This draft has been rejected. The reviewer may have left a comment for you to read. Please submit a new draft for review.</p>
</div>
{% endif %}
{% if draft.approved == False and draft.rejected == False and current_user.privilege >= 200 %}
<div class="alert alert-warning" role="alert" style="margin-bottom: 2em;width: 50rem; margin-left: auto; margin-right: auto;">
    <h5 class="alert-heading">Draft Approval</h5>
    <p class="mb-0">This post draft is waiting approval. Once reviewed you can approve this draft. Approved drafts appear publicly on the website.</p>

    <form method="post" action="{{ url_for('Drafts_approve_draft', draftID=draft.id, site=site) }}" style="margin-top: 1em;">
        <div class="form-group">
            <textarea name="content" class="form-control" placeholder="Comments or other notes on draft" rows="10"></textarea>
        </div>
        <div class="form-group">
            <button name="rejectbutton" value="reject" type="submit" class="btn btn-danger" style="width: 45%; margin-top: 1em;">Reject Draft</button>
            <button name="approvebutton" value="approve" type="submit" class="btn btn-success" style="width: 45%; margin-top: 1em; float: right;">Approve Draft</button>
        </div>
    </form>


</div>
{% endif %}

{% if draft.comment %}
<div class="alert alert-info" role="alert" style="margin-bottom: 2em;width: 50rem; margin-left: auto; margin-right: auto;">
  <h4 class="alert-heading">Comment</h4>
  <p class="mb-0">{{ draft.comment }}</p>
</div>
{% endif %}

<div class="alert alert-secondary" role="alert" style="margin-bottom: 2em;width: 50rem; margin-left: auto; margin-right: auto;">
    <h4 class="alert-heading">Draft Differences</h4>
    <p class="mb-0">Highlighted below are the <ins>additions (in green)</ins> and <del>removals (in red)</del> made in this update.</p>
</div>

<div class="alert alert-primary" role="alert" style="margin-bottom: 2em;width: 50rem; margin-left: auto; margin-right: auto;">
    <h4 class="alert-heading">Draft Details</h4>
    <p class="mb-0">Editor: {{ activity.user.realname }}</p>
    <br/>
    <p class="mb-0">Object Type/ID: {{ activity.object_type }} - {{ activity.object_id }}</p>
    <br/>
    <p class="mb-0">Created Draft: {{ draft.created }}</p>
</div>

<div class="card" style="width: 50rem; margin-left: auto; margin-right: auto;">

  <div class="card-body">
    {% for key, value in draft.old_content.items() %}
    <h4>{{ key }}</h4>
    <hr/>

    <div style="display: none;"><div class="diffable" id="old_{{ key }}">{{ draft.old_content[key]|safe }}</div></div>
    <div class="ck-content"><div class="diffable" id="new_{{ key }}">{{ draft.new_content[key]|safe }}</div></div>
    <hr/>

    {% endfor %}
</div>
</div>


{% endblock %}

{% block footer %}
<script type="text/javascript">

    var elements = document.getElementsByClassName("diffable");

    for (element of elements) {
        if (element.id.includes("old")) {
            var obj_id = element.id.replace("old_", "");
            originalHTML = document.getElementById("old_" + obj_id).innerHTML;
            newHTML = document.getElementById("new_" + obj_id).innerHTML;

            let output = htmldiff(originalHTML, newHTML);

            document.getElementById("new_" + obj_id).innerHTML = output;
        }
    }

</script>
{% endblock %}