{% extends "admin_panel.html" %}

{% block panel_title %}Latest News Links{% endblock %}

{% block header %}


{% endblock %}

{% block panel_buttons %}

<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Links_create_link') }}" class="btn btn-sm btn-outline-primary">Create Link</a>
    </div>
</div>

{% endblock %}

{% block linksButton %}active{% endblock %}

{% block content %}
<div class="card" style="width: 50rem; margin-left: auto; margin-right: auto;">
    <div class="card-body">
        <table id="container" class="table table-hover table-normal">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">URL</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody id="container">
                {% for link in links %}
                
                <tr style="cursor: pointer;" class='clickable-row' data-href="{{ url_for('Links_view', id=link.id  ) }}">
                    <a href="{{ url_for('Links_view', id=link.id  ) }}">
                        <th scope="row">{{ link.title }}</th>
                        <td>{{ link.url }}</td>
                        <td>{{ link.id }}</td>
                    </a>
                </tr>
                
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
