{% macro get_readmore_block(content) %}
<div class="read-more">
  {{content | safe}}
  <p class="collapser" style="background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));">
    <a class="btn btn-outline-primary waves-effect btn-sm" href="#">Read Less</a>
  </p>
  <p class="prompt"
    style="padding-top: 60px; background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));">
    <a class="btn btn-outline-primary waves-effect btn-sm" href="#">Read More</a>
  </p>
</div>
{%- endmacro %}

{% macro profile_with_description(profile) %}
<div class="col-12 col-sm-6 col-md-6 col-lg-4">
  <div class="about-us-avatar mb-4">
    <img src="{{profile.profile_image}}" class="rounded z-depth-1-half rounded-corner-square img-fluid"><br>
  </div>
  <h5 class="font-weight-bold text-center">
    {% if profile.website %}
      <a href="{{profile.website}}" target="_blank">{{profile.title}}</a>
    {% else %}
      {{profile.title}}
    {% endif %}
  </h5>
  {{ get_readmore_block(profile.content) }}
</div>
{%- endmacro %}

{% macro profile_link(profile) %}
  {% if profile.website %}
    <a href="{{profile.website}}" target="_blank">{{profile.title}}</a>
  {% else %}
    {{profile.title}}
  {% endif %}
{%- endmacro %}