{% macro get_readmore_block(content) %}
<div class="read-more">
  {{content | safe}}
  <p class="collapser" style="background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));">
    <a class="btn btn-outline-primary waves-effect btn-sm" href="#">Read Less</a>
  </p>
  <p class="prompt"
    style="padding-top: 60px; background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));">
    <a class="btn btn-outline-primary waves-effect btn-sm" href="#">Read More</a>
  </p>
</div>
{%- endmacro %}

{% macro profile_with_description(profile) %}
<div class="col-12 col-sm-6 col-md-6 col-lg-4">
  <div class="about-us-avatar mb-4">
    <img src="{{profile.profile_image}}" class="rounded z-depth-1-half rounded-corner-square img-fluid"><br>
  </div>
  <h5 class="font-weight-bold text-center">
    {% if profile.website %}
      <a href="{{profile.website}}" target="_blank">{{profile.title}}</a>
    {% else %}
      {{profile.title}}
    {% endif %}
  </h5>
  {{ get_readmore_block(profile.content) }}
</div>
{%- endmacro %}

{% macro profile_link(profile) %}
  {% if profile.website %}
    <a href="{{profile.website}}" target="_blank">{{profile.title}}</a>
  {% else %}
    {{profile.title}}
  {% endif %}
{%- endmacro %}

{% macro team_modal(title, team) %}

<!--Modal: modalTeam-->
<div class="modal fade" id="modalTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-lg" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header navbar-color white-text">
        <h4 class="title"><i class="fas fa-users"></i> {{title}} | Team</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
      </div>

      <!--Body-->
      <div class="modal-body mb-0 text-center">
        <div class="container-fluid">

          <div class="row justify-content-center">
            {% if team %}
            <div class="col-10 col-md-6">
              <section>
                <div class="row text-center justify-content-center">
                  <h4 class="h4-responsive mb-0">Medical Content Team</h4>
                </div>
                <div class="row justify-content-center">
                  {% for member in team if "Medical Content Team" in member.section %}
                  <p class="pb-0 w-100">{{profile_link(member)}}</p>
                  {% endfor %}
                </div>
              </section>
            </div>

            <div class="col-10 col-md-6">
              <section>
                <div class="row text-center justify-content-center">
                  <h4 class="h4-responsive mb-0">Medical Review Panel</h4>
                </div>
                <div class="row justify-content-center">
                  {% for member in team if "Medical Review Panel" in member.section %}
                  <p class="pb-0 w-100">{{profile_link(member)}}</p>
                  {% endfor %}
                </div>
              </section>

              <section class="mt-3">
                <div class="row text-center justify-content-center">
                  <h4 class="h4-responsive mb-0">Special Advisors & Creators</h4>
                </div>
                <div class="row justify-content-center">
                  {% for member in team if "Special Advisors" in member.section or "Co-Creators" in member.section %}
                  <p class="pb-0 w-100">{{profile_link(member)}}</p>
                  {% endfor %}
                </div>
              </section>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: modalTeam-->
{%- endmacro %}