{% extends "admin_panel.html" %}

{% block panel_title %}Issues{% endblock %}

{% block header %}


{% endblock %}

{% block panel_buttons %}
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a href="{{ url_for('Issues_create_issue', site=site) }}" class="btn btn-sm btn-outline-primary">New Issue</a>
    </div>
</div>

{% endblock %}

{% block issueButton %}active{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="card" >
        <div class="card-body">
            <table id="container" class="table table-hover table-normal">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Subtitle</th>
                        <th scope="col">Archived</th>
                        <th scope="col">Updated</th>
                    </tr>
                </thead>
                <tbody id="container">
                    {% for issue in issues %}

                    <tr style="cursor: pointer;" class='clickable-row' data-href="{{ url_for('Issues_view', id=issue.id, site=site) }}">
                        <a>
                            <th scope="row" style="max-width: 300px;" style="color: #007bff;">{{ issue.title }}</th>
                            <th scope="row" style="max-width: 300px;" style="color: #007bff;">{{ issue.subtitle }}</th>
                            <th scope="row" style="max-width: 100px;" style="color: #007bff;">{{ issue.archived }}</th>
                            <td>{{ issue.last_updated }}</td>
                        </a>
                    </tr>


                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

</div>
</div>




{% endblock %}

{% block footer %}
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}
