body{
  font-family: "Montserrat", sans-serif;  
  min-height: 2em;
  color: black;
  width: 100%
}

h1{
  font-weight: 900;
}

h2{
  font-weight: 800;
}

h3{
  font-weight: 700;
}

h4{
  font-weight: 700;
  white-space: normal;
}

h5{
  font-weight: 600;
}

.provider-btn-title {
  font-size: 2rem;
}

.provider-btn-subtitle {
  font-size: 1.75rem;
}

.provider-btn-chevron {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 800px) {
  .provider-btn-title {
    font-size: 1.5rem;
  }

  .provider-btn-subtitle {
    font-size: 1.00rem;
  }

  .provider-btn-chevron {
    width: 15px;
    height: 15px;
  }
}

.navbar{
  background-color: #25353F;
}

.navbar-nav li{
  padding-left: 1.5em;
}

.btnContainer{
  background-color: #FFFFFF;
  padding-top: 3em;
  padding-bottom: 3em;
  width: 100%;
  text-align: center;
}

.btn{
  text-align: left;
  background-color: #EBDFC1;
  border: none;
  color: #000000;
}

.hero-btn{
  text-align: left;
  background-color: #ed4848;
  border: none;
  border-radius: 12px;
  color: #000000;
  box-shadow: 0px 6px 0px #B63531, 0px 3px 15px rgba(0,0,0,.4);
}
.hero-btn:hover {
  background-color: #b84946;
}

#providerBtn{
  width: 90%;
  padding: 1.5em 3em 1.5em 3em;
}

.container-fluid{
  width: 90%;
}

#usefulLinks{
  border: 0.25em solid #D8D8D8;
  border-radius: 1em;
  padding: 1em 2em 1em 2em;
}

.usefulLinksTitle{
  border-width: 80%;
  border-bottom: 0.5em solid #ACBBE6;
}

.dropdown-item.active {
  background-color: #EBDFC1;
  color: black;
}

.linkRow{
  padding-top: 1em;
}

.newsRow{
  padding-top: 1.5em;
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  white-space: normal;
  word-wrap: break-word;
}

.news-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btnRow{
  text-align: right;
  padding-right: 1.5em;
}

.image-container {
  background-size:cover;
  background-repeat:no-repeat;
  width: 12em;
  height: 12em;
  border-radius: 1.0em;
  float: left;
  margin-right: 1.5em;
  border-style: solid;
  border-width: 1.0px;
  border-color: black;
}

@media only screen and (max-width: 800px) {
  .image-container {
    float: none;
    width: 100%;
    height: 12em;
    margin-bottom: 1em;
    border-radius: 0.5em;
  }

  .newsRow{
    display: block;
  }
}

#anyContainer{
  padding-top: 1.5em;
} 

.literature{
  padding-bottom: 1em;
}

#stats{
  text-align: center;
  padding-top: 1.5em;
}

#graphContainer{
  height: 20em;
  border-radius: 2em;
  background-color: #D8D8D8;
}

.providerTypeButton {
  background: #ACBBE6; 
  border-radius: 10px; 
  border: none;
  width: 100%; 
  padding: 10px; 
  margin: 2px 0;
  text-align: center;
}
.providerTypeButton:hover {
  background-color: #8AA3E8;
}

.providerTypeButtonClicked {
  background: #25353F; 
  color: white;
  border: 3px solid #ACBBE6;
  border-radius: 10px; 
  width: 100%; 
  padding: 10px; 
  margin: 2px 0;
  text-align: center;
}

.infoSectionButton {
  border: 2px solid #D7D7D7;
  border-radius: 8px;
  width: 100%; 
  padding: 10px; 
  margin: 4px 0;
  text-align: left;
  cursor: pointer;
}
.infoSectionButton:hover {background-color: #D7D7D7;}

.collapsible {
  background:#ACBBE6;
  border: none;
  border-radius: .8em .8em 0em 0em / .8em .8em;
  width: 100%; 
  padding: 14px; 
  text-align: left;
}

.collapsible:hover {
  background-color: #8AA3E8;
}

.collapsibleContent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0em 0em .8em .8em / .8em .8em;
  border: 4px solid #ACBBE6;
}

.useful-links-box {
  border: 2px solid #D7D7D7;
  border-radius: 10px;
  width: 95%; 
  padding: 1em; 
  padding-top: 1em;
  padding-bottom: 0.5em;
  text-align: left;
}

@media only screen and (max-width: 800px) {
  .useful-links-box {
    width: 100%;
  }
}

.useful-link {
  color: black;
  margin-bottom: 0.5em;
}

.blueLine {
  height: 5px;
  width: 100%;
  margin: 0;
  margin-bottom: 0.5em;
  background-color: #ACBBE6;
}

.greyLine {
  height: 4px;
  width: 100%;
  margin: 16px 0;
  background-color: #EBDFC1;
  margin-left: auto;
  margin-right: auto;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#infoContainer{
  padding-top: 2em;
}

.btn-link{
  border: 2px solid #e8d29b;
  padding: 16px; 
}

.api-data {
  left: 30%;
  top: 0.4%;
  height: auto;
  width: 100%;
  padding: 2px;
  min-width: 249px;
  text-align: left;
  align-content: center;
  border: none;
  display: grid;
}

.api-data h3, h4 {
  padding-left: 0pt;
  padding-right: 0pt;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.global-data {
  max-width: 100%;
}

.country-specific-data {
  max-width: 100%;
}

#select {
  width: 20%;
  color: black;
}

.canvas {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 800px;
}

#graph {
  height: 200px;
  width: inherit;
}

#loading {
  display: block;
}

.chart {
  width: 400px;
}

.longlist {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 800px) {
  .chart {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .api-data {
    left: 0;
    right: 0;
    font-size: small;
    max-width: 100% + 4px;
    width: 100%;
    margin: 0;
  }
} 

